@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin '../../tailwind.plugin.js';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Font Quicksand sebagai default */
  --font-family-sans: 'Quicksand', ui-sans-serif, system-ui, sans-serif;

  /* Display 3xl – 60px / 72px */
  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;

  /* Display 2xl – 48px / 60px + tracking -2% */
  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;
  --text-display-2xl--letter-spacing: -0.02em;

  /* Display xl – 40px / 48px + tracking -2% */
  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3rem;
  --text-display-xl--letter-spacing: -0.02em;

  /* Display lg – 36px / 44px + tracking -2% */
  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -0.02em;

  /* Display md – 32px / 40px */
  --text-display-md: 2rem;
  --text-display-md--line-height: 2.5rem;

  /* Display sm – 28px / 38px */
  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;

  /* Display xs – 24px / 36px */
  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;

  --text-md: 1rem;
  --text-md--line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  --color-primary-100: #f6f9fe;
  --color-primary-200: #d2e3ff; /* light variant */
  --color-primary-500: #1c65da; /* main primary – AA 6.38 */

  --color-accent-red: #d9206e;
  --color-accent-green: #079455;
  --color-accent-yellow: #fdb022;

  --color-white: #ffffff;
  --color-black: #000000;

  --radius-none: 0rem; /* 0px    */
  --radius-xxs: 0.125rem; /* 2px    */
  --radius-xs: 0.25rem; /* 4px    */
  --radius-sm: 0.375rem; /* 6px    */
  --radius-md: 0.5rem; /* 8px    */
  --radius-lg: 0.625rem; /* 10px   */
  --radius-xl: 0.75rem; /* 12px   */
  --radius-2xl: 1rem; /* 16px   */
  --radius-3xl: 1.25rem; /* 20px   */
  --radius-4xl: 1.5rem; /* 24px   */
  --radius-full: 9999px; /* ∞      */

  --spacing-none: 0rem; /* 0px   */
  --spacing-xxs: 0.125rem; /* 2px   */
  --spacing-xs: 0.25rem; /* 4px   */
  --spacing-sm: 0.375rem; /* 6px   */
  --spacing-md: 0.5rem; /* 8px   */
  --spacing-lg: 0.75rem; /* 12px  */
  --spacing-xl: 1rem; /* 16px  */
  --spacing-2xl: 1.25rem; /* 20px  */
  --spacing-3xl: 1.5rem; /* 24px  */
  --spacing-4xl: 2rem; /* 32px  */
  --spacing-5xl: 2.5rem; /* 40px  */
  --spacing-6xl: 3rem; /* 48px  */
  --spacing-7xl: 4rem; /* 64px  */
  --spacing-8xl: 5rem; /* 80px  */
  --spacing-9xl: 6rem; /* 96px  */
  --spacing-10xl: 8rem; /* 128px */
  --spacing-11xl: 8.75rem; /* 140px */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

html {
  scroll-behavior: smooth;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-between {
  @apply flex items-center justify-between;
}
@utility flex-start {
  @apply flex items-center justify-start;
}
@utility flex-end {
  @apply flex items-center justify-end;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}
@utility flex-col-start {
  @apply flex flex-col;
}
@utility flex-col-between {
  @apply flex flex-col justify-between;
}

@utility container-x {
  @apply max-w-302 mx-auto my-0 px-6;
}

@utility container-y {
  @apply py-4 md:py-20;
}

@utility base-container {
  @apply max-w-302 mx-auto my-0 px-6 py-6 md:py-20 flex flex-col justify-start items-start gap-6 lg:gap-12 w-full;
}

@utility shadow-card {
  box-shadow: 0px 0px 20px 0px #cbcaca40;
}
body {
  font-family: var(--font-family-sans);
}

@utility text-desc {
  @apply text-[#0A0D12] text-sm-medium md:text-md-medium;
}
